html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.container-fluid {
    background-color: #fff;
    color: #fff;
    position: relative;
}

.container-fluid a {
    color: #434449;
}

.footer {
    position:sticky;
    display: block;
    height: auto;
}

.footer img {
    max-width: 100%;
    max-height: 100%;
}

.carousel-item {
    height: 85vh;
    background: #777;
    color: #000;
    position: relative;
}

.container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 50px;
}

.container p {
    font-weight: strong;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    height: 100%;
}