html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body{
    background-color: #e6ffe6;
}

hr {
  clear: both;
  visibility: hidden;
}


.container-fluid {
    background-color: #99ff99;
    color: #fff;
    position: relative;
    
}

.container-fluid a {
    color: #434449;
}

.footer {
    position:sticky;
    display: block;
    height: auto;
}
 
.footer img {
    max-width: 100%;
    max-height: 100%;
}

.loginbox{
	width: 320px;
	height: 460px;
	background: #27b635;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px;
}

.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #27b635;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.loginbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: white;
}

.loginbox a:hover
{
	color: #ffc107;
}

.container
{
	width: 900px;
	height: 400px;
	background: #27b635;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 30px 30px;
	border-radius: 20px;
}

.container input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #000;
	font-size: 14px;
}

.container a:hover
{
	color: lightgreen;
}

.container a{
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
	color: white;
}
.container p{
	padding-left: 10px;
}
